<p id="notice"><%= notice %></p>

<h1>Mail Server Credentials</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Address</th>
      <th>Port</th>
      <th>User name</th>
      <th>Password</th>
      <th>Authentication</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mail_server_credentials.each do |mail_server_credential| %>
      <tr>
        <td><%= mail_server_credential.user %></td>
        <td><%= mail_server_credential.address %></td>
        <td><%= mail_server_credential.port %></td>
        <td><%= mail_server_credential.user_name %></td>
        <td><%= mail_server_credential.password %></td>
        <td><%= mail_server_credential.authentication %></td>
        <td><%= link_to 'Show', mail_server_credential %></td>
        <td><%= link_to 'Edit', edit_mail_server_credential_path(mail_server_credential) %></td>
        <td><%= link_to 'Destroy', mail_server_credential, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mail Server Credential', new_mail_server_credential_path %>
